.billWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.billWrapper > span {
  color: #5e7a7d;
  font-weight: 400;
}

.billAmount {
  font-size: 21px;
  font-weight: 700;
  color: #0d494d;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f4fafa;
  padding: 9.6px;
  text-align: right;
}

.dollar {
  position: absolute;
  top: 2.8rem;
  left: 0.6rem;
}
